<% layout('layout/page') -%>
<% block('title', "Tic Tac Toe") -%>

<div class="game-users-container">
    <%
        var owner, opponent = '';
        if (game.term == 'owner') { owner = 'active' } else { opponent = 'active'}%>

    <div class="username-container owner">
        <span class="owner-name <%=owner%>"><%=game.owner%></span>
    </div>

    <%if (game.opponent) {%>
    <div class="username-container opponent">
        <span class="opponent-name <%=opponent%>"><%=game.opponent%></span>
    </div>
    <%} else {%>
        <% if ((user.username != game.owner)) { %>
        <div class="username-container opponent">
            <button onclick="join('<%-user.username%>', '<%-game.gameToken%>')" id="join" class="mdc-button mdc-button--raised join-game">
                Join
            </button>
        </div>
    <% } %>
    <%}%>
</div>

<div class="game-field-container">
    <div class="game-field">
        <%
        var field = game.field;
        for (i = 0; i < field.length; ++i){%>
        <div class="field-column">
            <%for (j = 0; j < field[i].length; ++j) {%>
            <div class="field-item">
                <%if (field[j][i] == 'X' || field[j][i] == 'O') {%>
                    <div class="cell val_<%-field[j][i]%> column_<%-i%> row_<%-j%>"></div>
                <%} else {%>
                    <%if (game.state == 'playing' && (user.username == game.owner || user.username == game.opponent)) {%>
                        <div class="cell val_? column_<%-i%> row_<%-j%>" onclick="doStep('<%-i%>', '<%-j%>', '<%-game.gameToken%>')"></div>
                    <%} else {%>
                        <div class="cell"></div>
                    <%}%>
                <%}%>
                </div>
            <%}%>
        </div>
        <%}%>


</div>

<div class="game-duration-container">
    <span class="game-duration-inside"><%= (game.created).getHours()%> : <%= (game.created).getMinutes()%> : <%= (game.created).getSeconds()%></span>
</div>


<%if ((user.username == game.owner || user.username == game.opponent) && game.state == 'playing') {%>
<div class="button-surrender-container">
    <button id="surrender" class="mdc-button mdc-button--raised surrender">
        Surrender
    </button>
</div>
<%}%>

