<% layout('layout/page') -%>
<% block('title', "Games") -%>

<%if (!user) {%>
    <%-partial('./partials/authForm')%>
<%} else {%>
    <div class="username-container-games">
        <span><%=user.get('username')%></span>
    </div>

    <div class="games-list">
        <% games.forEach(function (game) {%>
        <div class="game-preview-container">
            <a href='/games/<%= game.gameToken%>' class="game <%=game.state%>">
                <div class="user-container owner">
                    <%if (game.gameResult == 'owner') { %>
                        <span class="owner winner"><%=game.owner%></span>
                    <%} else {%>
                        <span class="owner"><%=game.owner%></span>
                    <%}%>
                    <hr>
                </div>
                <div class="user-container opponent">
                    <%if (game.gameResult == 'opponent') { %>
                        <span class="opponent winner"><%=game.opponent%></span>
                    <%} else {%>
                        <span class="opponent"><%=game.opponent%></span>
                    <%}%>
                </div>
                <div class="duration-container">
                    <span class="game-duration">
                        <%%>
                        <%= (game.created).getHours()%> : <%= (game.created).getMinutes()%> : <%= (game.created).getSeconds()%>
                    </span>
                </div>
            </a>
        </div>
        <% }) %>
    </div>

    <%-partial('./partials/newGameForm')%>
    <button class="mdc-fab material-icons new-game" aria-label="Add">
      <span class="mdc-fab__icon">
        add
      </span>
    </button>
<%}%>


